<table class="table datatable">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">User Email
                <i class='bx bxs-sort-alt float-right'></i>
            </th>
            <th scope="col">Car
                <i class='bx bxs-sort-alt float-right'></i>
            </th>
            <th scope="col">Start Rent
                <i class='bx bxs-sort-alt float-right'></i>
            </th>
            <th scope="col">Finish Rent
                <i class='bx bxs-sort-alt float-right'></i>
            </th>
            <th scope="col">Price
                <i class='bx bxs-sort-alt float-right'></i>
            </th>
            <th scope="col">Status
                <i class='bx bxs-sort-alt float-right'></i>
            </th>
        </tr>
    </thead>
    <tbody>

        <!-- table row here -->
        <%- include('../items/dashboard-table-item') %>
        <%- include('../items/dashboard-table-item') %>
        <%- include('../items/dashboard-table-item') %>
        <%- include('../items/dashboard-table-item') %>
        <%- include('../items/dashboard-table-item') %>
        <%- include('../items/dashboard-table-item') %>
        <%- include('../items/dashboard-table-item') %>
        <%- include('../items/dashboard-table-item') %>
        <%- include('../items/dashboard-table-item') %>
        <%- include('../items/dashboard-table-item') %>
        

    </tbody>
</table>