<tr>
    <td><%- item.no %></td>
    <td><%- item.nama %></td>
    <td><%- item.kategori %></td>
    <td><%- item.harga %></td>
    <td><%- item.mulai %></td>
    <td><%- item.selesai %></td>
    <td><%- item.buat %></td>
    <td><%- item.update %></td>
</tr>