<tr>
    <td><%- item.no %></td>
    <td><%- item.email %></td>
    <td><%- item.car %></td>
    <td><%- item.mulai %></td>
    <td><%- item.selesai %></td>
    <td><%- item.harga %></td>
    <td><%- item.status %></td>
</tr>
